<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="">
        <table cellpadding="5px">
            <tr>
                <td>Date</td>
                <td>{{ data['date'] }}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{ data['S_name'] }}</td>
            </tr>
            <tr>
                <td>Course</td>
                <td>{{ data['C_name'] }}</td>
            </tr>
            <tr>
                <td>Cap_id</td>
                <td>{{ data['Cap_id'] }}</td>
            </tr>
        </table>
    </form>
</body>
</html>