{% extends 'Admin/index2.html' %}
{% block body  %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <h1 class="text-drak font-weight-bold">View Rules</h1>
    <hr class="divider" />
    <table class="table-bordered text-center">
      <th colspan="2" align="center">Prospectus</th>
    </tr>
    <tr>
        {% for i in data %}
      <td><a href="{{ i['prospectus'] }}">View</a></td>
       <td align="right"><a href="/Rules_edit/{{ i['rules_id'] }}#tab">Edit</a>&nbsp;<a href="/Rules_delete/{{ i['rules_id'] }}" onclick="return confirm('Are you sure...?')">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
<a href="/Admin_home">Goto Homepage</a>
</form>
</body>
</html>
{% endblock %}