{% extends 'Admin/index2.html' %}
{% block body  %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/Vacancy_edit_post">
  <h1 class="text-drak font-weight-bold">Edit vacancy</h1>
    <hr class="divider" />
    <table class="table-bordered text-center">
    <tr>
      <td>Course Name</td>
      <td><input type="hidden" name="id" value="{{ data['Vacancy_id'] }}"/>
      {{ data['Name'] }}
      </td>
    </tr>
    <tr>
      <td>No.of Seat</td>
      <td><label for="textfield"></label>
        <input type="text" name="textfield" id="textfield" value="{{ data['Vacant_seat'] }}"/></td>
    </tr>
    <tr>
      <td colspan="2" align="right"><input type="submit" name="button" id="button" value="Update" /></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}